<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>INVENTARIO</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaSeccion</display-name>
    <servlet-name>BuscaSeccion</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.BuscaSeccion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaSeccion</servlet-name>
    <url-pattern>/BuscaSeccion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaProducto</display-name>
    <servlet-name>BuscaProducto</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.BuscaProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaProducto</servlet-name>
    <url-pattern>/BuscaProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgregarProducto</display-name>
    <servlet-name>AgregarProducto</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.AgregarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarProducto</servlet-name>
    <url-pattern>/AgregarProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarEstanteria</display-name>
    <servlet-name>BuscarEstanteria</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.BuscarEstanteria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarEstanteria</servlet-name>
    <url-pattern>/BuscarEstanteria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CantidadActual</display-name>
    <servlet-name>CantidadActual</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.CantidadActual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CantidadActual</servlet-name>
    <url-pattern>/CantidadActual</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroLogin</display-name>
    <filter-name>FiltroLogin</filter-name>
    <filter-class>com.millenium.inventario.filtro.FiltroLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroLogin</filter-name>
    <url-pattern>/FiltroLogin*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroAutenticacion</display-name>
    <filter-name>FiltroAutenticacion</filter-name>
    <filter-class>com.millenium.inventario.filtro.FiltroAutenticacion</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAutenticacion</filter-name>
    <url-pattern>/FiltroAutenticacion</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CargarTomas</display-name>
    <servlet-name>CargarTomas</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.CargarTomas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarTomas</servlet-name>
    <url-pattern>/CargarTomas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutocompletarCodigo</display-name>
    <servlet-name>AutocompletarCodigo</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.AutocompletarCodigo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutocompletarCodigo</servlet-name>
    <url-pattern>/AutocompletarCodigo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarSeccionEstanteria</display-name>
    <servlet-name>CargarSeccionEstanteria</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.CargarSeccionEstanteria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarSeccionEstanteria</servlet-name>
    <url-pattern>/CargarSeccionEstanteria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarProducto</display-name>
    <servlet-name>ActualizarProducto</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.ActualizarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarProducto</servlet-name>
    <url-pattern>/ActualizarProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarProductos</display-name>
    <servlet-name>CargarProductos</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.CargarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarProductos</servlet-name>
    <url-pattern>/CargarProductos</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.millenium.inventario.filtro.Sesiones</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>CargarProductosDiferencia</display-name>
    <servlet-name>CargarProductosDiferencia</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.CargarProductosDiferencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarProductosDiferencia</servlet-name>
    <url-pattern>/CargarProductosDiferencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EsMuestra</display-name>
    <servlet-name>EsMuestra</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.EsMuestra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EsMuestra</servlet-name>
    <url-pattern>/EsMuestra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Conteo2</display-name>
    <servlet-name>Conteo2</servlet-name>
    <servlet-class>com.millenium.inventario.servlet.Conteo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conteo2</servlet-name>
    <url-pattern>/Conteo2</url-pattern>
  </servlet-mapping>
</web-app>